<% content_for(:title) do %>
  编辑器支持格式帮助 
<% end %>
<h1>编辑器支持格式帮助</h1>
<ul>
  <li><%= link_to("BBcode", bbcode_path)%></li>
  <li><%= link_to("Textitle", textitle_path)%></li>
  <li><%= link_to("Gist", gist_path)%></li>
</ul>
