<% content_for(:title) do %>
  所有文章 
<% end %>

<h1>所有文章</h1>
<ul class="articles-list">
  <% @articles.each do |article| %>
    <li>
      <%= link_to(article.title, article_path(article)) %>
      <span class="quiet small">作者：<%= link_to(article.user_nick_name, user_articles_path(article.user))%></span>
    </li>
  <% end %>
</ul>

<%= paginate @articles %>
