.field_with_errors {
  display:inline;
}
.field_with_errors input {
  border-color:red; 
}

.field_with_errors textarea {
  border-color:red;
}

.article-info {
  color: darkGray;
}

.author {
  font-weight: bold;
}

.reply textarea{
  width:795px;
  height:200px;
}

#article_body {
  width:795px;
  height:400px;
}

#article_title{
  width:350px;
}

#article_tag_list{
  width:350px;
}
