<p>你好， <%= @resource.email %>!</p>

<p>有人想要更改你的密码，你可以通过下面的链接来更改你的密码：</p>

<p><%= link_to '更改我的密码', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>如果你没有想要更改你的密码请忽略这个邮件。</p>
<p>如果你不点击上面的链接，并且更改一个新的密码，你的密码就不会改变。</p>
